@model IEnumerable<OnlineLibrary.Domain.Models.BaseModels.Book>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card mb-4 shadow-sm h-100">
                <img class="card-img-top" src="@item.ImageUrl" alt="@item.Title" style="height: 250px; object-fit: cover;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">
                        <strong>Author:</strong> @item.Author.Name<br />
                        <strong>ISBN:</strong> @item.ISBN<br />
                        <strong>Year:</strong> @item.Year<br />
                        <strong>Pages:</strong> @item.Pages<br />
                        <strong>Category:</strong> @item.Category.Name<br />
                        <strong>Available:</strong> @(item.Available ? "Yes" : "No")<br />
                        <strong>Quantity:</strong> @(item.Quantity)<br />
                    </p>
                    <div class="mt-auto">
                        <div class="btn-group">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">Delete</a>
                        </div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a asp-action="AddToCart" asp-route-id="@item.Id" class="btn btn-sm btn-outline-success">Add to cart</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>
